<div>
    <form action="http://localhost:8080/productos" method="POST">
        <span>Nombre del producto: <input type="text" name="title" id="title"></span>
        <span>Precio: <input type="number" name="price" id="price"></span>
        <span>URL imagen: <input type="text" name="thumbnail" id="thumbnail"></span>
        <button>Enviar</button>
    </form>
</div>

<form action="http://localhost:8080/productos" method="GET">
    <button>Ver productos guardados</button>
</form>